.corpo{
    background-image: url('wallpaper.jpeg');
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.butao2 {
    background-color: blueviolet;
}